*:after,*{
 padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
position: relative;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}
.foto{
	width:30%;
	border-radius:50%;
	padding: 40px;
	margin-left: 31%;
	margin-top: 10px;
	animation: movimento 5s linear 2s infinite alternate;
}
@keyframes movimento {
	from{left: -400px;}
	to{left: 400px;}
}


.titulo{
	font-size: 88px;
	color: #fff;
	margin-left: 25%;
	position: relative;
	animation: pisca 3s linear 3s infinite alternate;
}

.paragrafo{
   color: #CDC5BF;
   margin-left: 15%;
}
.icon{
  	width: 40px;
}
.icones{
	margin-left: 39%;
	margin-top: 3%;
	margin-bottom: 2%;
}
footer {
  	bottom: 20px;
  	color: #9C9C9C;
  	margin-left: 41.5%;

}
@keyframes pisca {
	50% {color: green}
	30% {color: blue}
  40% {transform: translatey (-50px)
  }

 